<div>

  <div class="card shadow" style="padding:20px ;">
    <div>
      <span style="font-size: 17px;"><b>Project Management System</b></span>

      <button *ngIf="!hideToEdit" class="btn float-right" style="background-color: #1d62a7;color: white;"
        (click)="back()">Back</button>

    </div>
    <hr>

    <div *ngIf="hideToEdit">


      <div class="row" style="padding: 10px 0px 10px 0px;">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <input placeholder="Search" name="search" [(ngModel)]="search" class="col-5 form-control">

          <!-- <mat-form-field>
            <mat-label>Select Customer</mat-label>
            <mat-select (selectionChange)="selected_customerToTable($event.value)">
              <mat-option *ngFor="let data of customerData" [value]="data.customerId">{{data.customerName}}</mat-option>

            </mat-select>
          </mat-form-field> -->
        </div>
        <div class="col-md-2 col-xs-12">
          <!-- <mat-form-field>
            <mat-label>Select Contract</mat-label>
            <mat-select [disabled]="contractDisableToTable" (selectionChange)="selected_contractToTable($event.value)">
              <mat-option *ngFor="let contract of contractIdGet" [value]="contract.contractid">{{contract.contractname}}
              </mat-option>

            </mat-select>
          </mat-form-field> -->
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12" *ngIf="role">
          <button class="btn float-right" style="background-color: #1d62a7;color: white;" (click)="editHere()"
            data-toggle="modal" data-target="#myModal">Create Project</button>
        </div>
      </div>

      <!-- {{dataProject[0].projectRateCard.projectValue}} -->
      <div class="table-responsive" style="padding-top: 15px;">
        <table class="table" style="text-align: center;">
          <thead class="tbldata" style="background-color: #1d62a7;color: white;">
            <th>Project ID</th>
            <th>Customer</th>
            <th>Contract</th>
            <th>Project Name</th>
            <!-- <th>Description</th> -->
            <th>Start Date</th>
            <th>End Date</th>
            <th>Category</th>
            <th>Delivery Location</th>
            <!-- <th>Resource Count</th> -->
            <th *ngIf="role">Delete</th>
            <th>More Info</th>
            <!-- <th></th> -->

          </thead>
          <tbody>
            <tr
              *ngFor="let projectdata of dataProject|searchProject:search | paginate: { itemsPerPage: ipppd, currentPage:pd, id:'pd' }; "
              [class.active]="projectdata.financeStatus =='Approved'"
              [class.reject]="projectdata.financeStatus =='Rejected' || projectdata.buStatus == 'Rejected'">
              <td>{{projectdata.projectId}}</td>
              <!-- <td>{{projectdata.customerId}}</td>
              <td>{{projectdata.contractId}}</td> -->
              <td>{{projectdata.customerId}}</td>
              <td>{{projectdata.contractId}}</td>

              <td>{{projectdata.projectName}}</td>
              <!-- <td>{{projectdata.projectDescription}}</td> -->
              <td>{{projectdata.startDate | date:'dd-MM-yyyy'}}</td>
              <td>{{projectdata.endDate | date:'dd-MM-yyyy'}}</td>
              <td>{{projectdata.servicecategory}}</td>
              <td>{{projectdata.deliveryLocation}}</td>

              <!-- <td>{{projectdata.projectResourceMapping.resourceCount}}</td> -->

              <td *ngIf="role"> <i class="fa fa-trash" style="color: #1d62a7;"
                  (click)="deleteProject(projectdata.projectId)"></i>
              </td>
              <!-- <td><button class="btn btn-sm" style="background-color: #1d62a7;color: white;"
                  (click)="moreinfo(projectdata.projectId)">More Info</button></td> -->
              <td><img src="assets/moreinfo.jpg" height="20px" width="20px" style="cursor: pointer;"
                  (click)="moreinfo(projectdata.projectId)"></td>

            </tr>
          </tbody>
        </table>

      </div>
      <span class="m-2" style="font-size: 16px;">Items per page</span>
      <select [(ngModel)]="ipppd" (change)="pd=1">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
      </select>
      <pagination-controls (pageChange)="pd = $event" id="pd" style="float:right"></pagination-controls>
    </div>

    <!-- more Info -->
    <div *ngIf="!hideToEdit">



      <div class="mx-auto" style="padding:0px 30px;">
        <div class="float-right" style="padding-bottom: 50px;" *ngIf="role && roleEdit">
          <i class="fa fa-edit" *ngIf="editTo" (click)="edit()" style="color: #1d62a7;font-size: 20px;"></i>
        </div>
        <span style="font-size: 17px;"><b>More Info</b></span>


        <hr>
        <div class="data mx-auto">
          <form #statusUpdate="ngForm">
            <div class="row">
              <div class="col-4">
                <p><b>Bu Status :</b>{{getIdData.buStatus}}</p>
                <p *ngIf="getIdData.buStatus=='Approved'"><b>Finance Status :</b>{{getIdData.financeStatus}}</p>
              </div>
              <div class="col-4">
                <div *ngIf="reasonForBU">
                  <b>Reason :</b> {{reason}}
                </div>

              </div>
              <div class="col-4 float-right">
                <div class="row" *ngIf="roleStatus">
                  <p><button class="btn btn-sm" (click)="approveBU()"
                      style="background-color: #1d62a7;color: white;">Approve</button></p>&nbsp;&nbsp;&nbsp;
                  <p><button class="btn btn-sm" data-toggle="modal" data-target="#rejectBUModal"
                      style="background-color: red;color: white;">Reject</button></p>
                </div>

                <div class="row" *ngIf="roleFinance">
                  <p><button class="btn btn-sm" (click)="approveFinance()"
                      style="background-color: #1d62a7;color: white;">Approve</button></p>&nbsp;&nbsp;&nbsp;
                  <p><button class="btn btn-sm" data-toggle="modal" data-target="#rejectFinanceModal"
                      style="background-color: red;color: white;">Reject</button></p>
                </div>

              </div>
            </div>
          </form>
          <hr>
          <div class="row">
            <label class="col-4"><b>Customer -</b>{{custId}} ({{getIdData.customerId}}) </label>
            <label class="col-4"><b>Contract -</b>{{contId}} ({{getIdData.contractId}})</label>
          </div>
        </div>


        <form #updateProject="ngForm">




          <div class="card shadow">
            <div class="header shadow">
              <p style="font-size: 17px;text-align: center;"><b>Project Basic Info</b></p>
            </div>
            <div class="row" style="padding: 15px 15px 0px;">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <table class="table table-borderless ">
                  <tr>
                    <th class="tblpad colonWidth">Project Name</th>:
                    <td class="tblpad colonWidth" *ngIf="tblupdate">{{getIdData.projectName}}</td>
                    <td class="tblpad colonWidth" *ngIf="!tblupdate"><input class="form-control" name="projectname"
                        [(ngModel)]="getIdData.projectName" #name="ngModel" required disableOptionCentering>
                      <div *ngIf="name.invalid && name.touched" style="color: red;">
                        <p *ngIf="name.errors.required">Name is Required</p>
                      </div>

                    </td>
                  </tr>
                  <tr>
                    <th class="tblpad colonWidth">Project Type</th>:
                    <td class="tblpad colonWidth" *ngIf="tblupdate">{{getIdData.projectType}}</td>
                    <td class="tblpad colonWidth" *ngIf="!tblupdate">

                      <!-- <select class="form-control" name="isinternal" [(ngModel)]="getIdData.isInternal">
                                              <option value="true">Yes</option>
                                              <option value="false">No</option>
                                            </select> -->
                      <div *ngIf="editIsCustomer">
                        {{getIdData.projectType}}

                      </div>
                      <div *ngIf="editIsNotCustomer">


                        <mat-form-field>

                          <mat-select name="projectType" [(ngModel)]="getIdData.projectType" #internal="ngModel"
                            required disableOptionCentering>
                            <mat-option *ngFor="let data of projectTypedata" value="{{data.projectType}}">
                              {{data.projectType}}</mat-option>


                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="internal.invalid && internal.touched" style="color: red;">
                          <p *ngIf="internal.errors.required">Project Type is Required</p>
                        </div>

                      </div>
                    </td>

                  </tr>

                  <tr>
                    <th class="tblpad colonWidth">Tasks</th>:
                    <td class="tblpad colonWidth" *ngIf="tblupdate"> {{getIdData.tasks }}</td>
                    <td class="tblpad colonWidth" *ngIf="!tblupdate">
                      <mat-form-field>
                        <!-- <mat-label *ngIf="taskHide">{{getIdData.tasks }}</mat-label> -->
                        <mat-select name="tasks" [(ngModel)]="getIdData.tasks" #task="ngModel" required multiple
                          disableOptionCentering>
                          <mat-option *ngFor="let tasks of taskList" [value]="tasks.projecttask">{{tasks.projecttask}}
                          </mat-option>

                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="task.invalid && task.touched" style="color: red;">
                        <p *ngIf="task.errors.required">Tasks are Required</p>
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th class="tblpad colonWidth">Description</th>:
                    <td class="tblpad colonWidth" *ngIf="tblupdate">{{getIdData.projectDescription}}</td>
                    <td class="tblpad colonWidth" *ngIf="!tblupdate"><textarea class="form-control" name="description"
                        [(ngModel)]="getIdData.projectDescription" rows="4" #description="ngModel" required></textarea>
                      <div *ngIf="description.invalid && description.touched" style="color: red;">
                        <p *ngIf="description.errors.required">Description is Required</p>
                      </div>
                    </td>

                  </tr>
                </table>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <table class="table table-borderless">
                  <tr>
                    <th class="tblpad colonWidth">Start Date</th>:
                    <td class="tblpad colonWidth" *ngIf="tblupdate">{{getIdData.startDate | date:'dd-MM-yyyy'}}</td>
                    <td class="tblpad colonWidth" *ngIf="!tblupdate">


                      <mat-form-field>
                        <input matInput [min]="minStartDate" [max]="maxStartDate" [matDatepicker]="picker"
                          [disabled]="disableDate" name="startdate" [(ngModel)]="getIdData.startDate"
                          placeholder="Start date" (click)="picker.open()" onkeydown="return false"
                          disableOptionCentering>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>


                    </td>
                  </tr>

                  <tr>
                    <th class="tblpad colonWidth">BU Head</th>:
                    <td class="tblpad colonWidth" *ngIf="tblupdate"> {{buHead[0].firstname}} {{buHead[0].lastname}}
                      ({{buHead[0].employeeId}})</td>
                    <td class="tblpad colonWidth" *ngIf="!tblupdate">{{buHead[0].firstname}} {{buHead[0].lastname}}
                      ({{buHead[0].employeeId}})
                      <!--<mat-form-field>
                           <mat-label *ngIf="taskHide">{{getIdData.tasks }}</mat-label> -->
                      <!-- <mat-select name="buHead" [(ngModel)]="getIdData.buHead" #bu="ngModel" required>
                          <mat-option *ngFor="let bu of buListArr" [value]="bu.buHead">{{bu.buHeadName}}
                            ({{bu.buName}})
                          </mat-option>

                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="bu.invalid && bu.touched" style="color: red;">
                        <p *ngIf="bu.errors.required">Business unit is Required</p>
                      </div> -->
                    </td>

                  </tr>
                  <tr>
                    <th class="tblpad colonWidth">Delivery Location</th>:
                    <td class="tblpad colonWidth" *ngIf="tblupdate">{{getIdData.deliveryLocation}}</td>
                    <td class="tblpad colonWidth" *ngIf="!tblupdate">

                      <mat-form-field>
                        <!-- <mat-label *ngIf="deliveryHide">{{getIdData.deliveryLocation}}</mat-label> -->
                        <mat-select name="deliverylocation" [(ngModel)]="getIdData.deliveryLocation" #delivery="ngModel"
                          required disableOptionCentering>
                          <mat-option *ngFor="let delivery of deliveryLoc" [value]="delivery.deliverylocationName">
                            {{delivery.deliverylocationName}}</mat-option>

                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="delivery.invalid && delivery.touched" style="color: red;">
                        <p *ngIf="delivery.errors.required">Delivery Location is Required</p>
                      </div>
                    </td>

                  </tr>




                </table>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <table class="table table-borderless">
                  <tr>
                    <th class="tblpad colonWidth">End Date</th>:
                    <td class="tblpad colonWidth" *ngIf="tblupdate">{{getIdData.endDate| date:'dd-MM-yyyy'}}</td>
                    <td class="tblpad colonWidth" *ngIf="!tblupdate">


                      <mat-form-field>
                        <input matInput [min]="getIdData.startDate" [max]="maxStartDate" [matDatepicker]="picker1"
                          [disabled]="disableDate" name="enddate" [(ngModel)]="getIdData.endDate" placeholder="End date"
                          (click)="picker1.open()" onkeydown="return false" disableOptionCentering>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>


                    </td>

                  </tr>
                  <tr>
                    <th class="tblpad colonWidth">SBU Head</th>:
                    <td class="tblpad colonWidth" *ngIf="tblupdate">{{sbuHead[0].firstname}} {{sbuHead[0].lastname}}
                      ({{sbuHead[0].employeeId}}) </td>
                    <td class="tblpad colonWidth" *ngIf="!tblupdate">{{sbuHead[0].firstname}} {{sbuHead[0].lastname}}
                      ({{sbuHead[0].employeeId}})
                      <!-- <mat-form-field>
                        <mat-label *ngIf="taskHide">{{getIdData.tasks }}</mat-label> -->
                      <!-- <mat-select name="sbuHead" [(ngModel)]="getIdData.sbuHead" #sbu="ngModel" required>
                          <mat-option *ngFor="let sbu of sbuListArr" [value]="sbu.sbuHead">{{sbu.sbuHeadName}}
                            ({{sbu.name}})
                          </mat-option>

                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="sbu.invalid && sbu.touched" style="color: red;">
                        <p *ngIf="sbu.errors.required">Sub Business unit is Required</p>
                      </div> -->
                    </td>

                  </tr>
                  <tr>
                    <th class="tblpad colonWidth">Location Type</th>:
                    <td class="tblpad colonWidth" *ngIf="tblupdate">{{getIdData.locationType}}</td>
                    <td class="tblpad colonWidth" *ngIf="!tblupdate">
                      <mat-form-field>
                        <!-- <mat-label *ngIf="locHide">{{getIdData.locationType}}</mat-label> -->
                        <mat-select name="locationtype" [(ngModel)]="getIdData.locationType" #loctype="ngModel" required
                          disableOptionCentering>
                          <mat-option *ngFor="let location of locTypes" [value]="location.locationType">
                            {{location.locationType}}</mat-option>

                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="loctype.invalid && loctype.touched" style="color: red;">
                        <p *ngIf="loctype.errors.required">Location Type is Required</p>
                      </div>


                    </td>

                  </tr>





                </table>
              </div>
            </div>


            <!-- <div>
              <div style="padding: 0px 15px;">
                  <table class="table table-borderless">
                      <tr>
                          <th class="tblpad">Description</th>:
                          <td class="tblpad" *ngIf="tblupdate" class="col-6">{{getIdData.projectDescription}}</td>
                          <td class="tblpad" *ngIf="!tblupdate" class="col-6"><textarea class="form-control" name="description"
                              [(ngModel)]="getIdData.projectDescription" rows="2" #description="ngModel" required></textarea>
                            <div *ngIf="description.invalid && description.touched" style="color: red;">
                              <p *ngIf="description.errors.required">Description is Required</p>
                            </div>
                          </td>
          
                        </tr>
                    </table>
              </div>

            </div> -->




          </div>




          <div class="row" style="margin-top: 30px;">


            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="card shadow">
                <div class="header shadow">
                  <p style="font-size: 17px;text-align: center;"><b>Financials</b></p>
                </div>
                <div class="data">
                  <table class="table table-borderless">
                    <tr>
                      <th class="tblpad colonWidthFinancials">Billing Type</th>:
                      <td class="tblpad colonWidthFinancials" *ngIf="tblupdate">
                        {{getIdData.projectRatecard.billingType}}</td>
                      <td class="tblpad colonWidthFinancials" *ngIf="!tblupdate">


                        <mat-form-field>
                          <!-- <mat-label *ngIf="billHide">{{getIdData.projectRatecard.billingType}}</mat-label> -->
                          <mat-select name="billingtype" [(ngModel)]="getIdData.projectRatecard.billingType"
                            #bill="ngModel" required disableOptionCentering>
                            <mat-option *ngFor="let billing of billingTypes" [value]="billing.name">{{billing.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="bill.invalid && bill.touched" style="color: red;">
                          <p *ngIf="bill.errors.required">Billing Type is Required</p>
                        </div>






                      </td>
                    </tr>
                    <tr>
                      <th class="tblpad colonWidthFinancials">Project Value</th>:
                      <td class="tblpad colonWidthFinancials" *ngIf="tblupdate">
                        {{getIdData.projectRatecard.projectValue}}</td>
                      <td class="tblpad colonWidthFinancials" *ngIf="!tblupdate">
                        <p *ngIf="showBalance" style="font-size: 10px;">Remaining Value :&nbsp;&nbsp;<span
                            *ngIf="greenShow" style="color: green;">{{valueToShow| number:'1.0-0'}}</span><span
                            *ngIf="redShow" style="color: red;">{{valueToShow| number:'1.0-0'}}</span> </p>
                        <input type="number" class="form-control" name="value"
                          [(ngModel)]="getIdData.projectRatecard.projectValue" #value="ngModel" required min="0"
                          (change)="valueChange($event)">
                        <p *ngIf="0>valueToShow" style="color: red;">Value is not enough</p>
                        <p *ngIf="errorToEnter" style="color: red;">Project value should not exceed the
                          {{valueToShow+editprojectvalue| number:'1.0-0'}} </p>

                        <div *ngIf="value.invalid && value.touched" style="color: red;">
                          <p *ngIf="value.errors.required">Value is Required</p>
                          <p *ngIf="value.errors.min">Negative Values are not allowed</p>

                        </div>


                      </td>

                    </tr>

                    <tr>
                      <th class="tblpad colonWidthFinancials">Rate Type</th>:
                      <td class="tblpad colonWidthFinancials" *ngIf="tblupdate">{{getIdData.projectRatecard.rateType}}
                      </td>
                      <td class="tblpad colonWidthFinancials" *ngIf="!tblupdate">
                        <mat-form-field>
                          <!-- <mat-label *ngIf="rateHide">{{getIdData.projectRatecard.rateType}}</mat-label> -->
                          <mat-select name="ratetype" [(ngModel)]="getIdData.projectRatecard.rateType" #rate="ngModel"
                            required disableOptionCentering>
                            <mat-option *ngFor="let rate of rateTypes" [value]="rate.rateType">{{rate.rateType}}
                            </mat-option>

                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="rate.invalid && rate.touched" style="color: red;">
                          <p *ngIf="rate.errors.required">Rate Card is Required</p>
                        </div>
                      </td>

                    </tr>
                    <tr>
                      <th class="tblpad colonWidthFinancials">Service Type</th>:
                      <td class="tblpad colonWidthFinancials" *ngIf="tblupdate">
                        {{getIdData.projectRatecard.serviceType}}</td>
                      <td class="tblpad colonWidthFinancials" *ngIf="!tblupdate">

                        <mat-form-field>
                          <!-- <mat-label *ngIf="serviceHide">{{getIdData.projectRatecard.serviceType}}</mat-label> -->
                          <mat-select name="servicetype" [(ngModel)]="getIdData.projectRatecard.serviceType"
                            #type="ngModel" disableOptionCentering>
                            <mat-option *ngFor="let service of serviceTypes" [value]="service.serviceTypeName">
                              {{service.serviceTypeName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="type.invalid && type.touched" style="color: red;">
                          <p *ngIf="type.errors.required">Service Type is Required</p>
                        </div>


                      </td>

                    </tr>
                    <tr>
                      <th class="tblpad colonWidthFinancials">Service Category</th>:
                      <td class="tblpad colonWidthFinancials" *ngIf="tblupdate">{{getIdData.servicecategory}}</td>
                      <td class="tblpad colonWidthFinancials" *ngIf="!tblupdate">

                        <mat-form-field>
                          <!-- <mat-label *ngIf="catHide">{{getIdData.servicecategory}}</mat-label> -->
                          <mat-select name="servicecategory" [(ngModel)]="getIdData.servicecategory" #service="ngModel"
                            required disableOptionCentering>
                            <mat-option *ngFor="let servicecat of serviceCategoryList"
                              [value]="servicecat.serviceategoryName">
                              {{servicecat.serviceategoryName}}</mat-option>

                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="service.invalid && service.touched" style="color: red;">
                          <p *ngIf="service.errors.required">Service Category is Required</p>
                        </div>


                      </td>

                    </tr>





                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="card shadow">
                <div class="header shadow">
                  <p style="font-size: 17px;text-align: center;"><b>Key Resources</b></p>
                </div>
                <div class="data">
                  <table class="table table-borderless">
                    <tr>
                      <th class="tblpad colonWidthresource">Manager</th>:
                      <td class="tblpad colonWidthresource" *ngIf="tblupdate">
                        {{managers[0].firstname}} {{managers[0].lastname}} ({{managers[0].employeeId}})</td>
                      <td class="tblpad colonWidthresource" *ngIf="!tblupdate">
                        <mat-form-field>
                          <mat-label>Project Manager</mat-label>
                          <mat-select name="manager" [(ngModel)]="getIdData.projectResourceMapping.projectManager"
                            #manager="ngModel" required disableOptionCentering>
                            <mat-option *ngFor="let manager of managerdata" [value]="manager.employeeId">
                              {{manager.firstname}} {{manager.lastname}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <div *ngIf="manager.invalid && manager.touched" style="color: red;">
                          <p *ngIf="manager.errors.required">Manager name is Required</p>
                        </div>

                      </td>

                    </tr>
                    <tr>
                      <th class="tblpad colonWidthresource">Technical Lead</th>:
                      <td class="tblpad colonWidthresource" *ngIf="tblupdate">
                        {{techlead[0].firstname}} {{techlead[0].lastname}} ({{techlead[0].employeeId}})</td>
                      <td class="tblpad colonWidthresource" *ngIf="!tblupdate">


                        <mat-form-field>
                          <mat-label>Technical Lead</mat-label>
                          <mat-select name="techlead" [(ngModel)]="getIdData.projectResourceMapping.techLead"
                            #techlead="ngModel" required disableOptionCentering>
                            <mat-option *ngFor="let tech of empObjTech" [value]="tech.employeeId">
                              {{tech.firstname}} {{tech.lastname}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="techlead.invalid && techlead.touched" style="color: red;">
                          <p *ngIf="techlead.errors.required">Tech lead is Required</p>
                        </div>
                      </td>

                    </tr>
                    <tr>
                      <th class="tblpad colonWidthresource">Project Tech Stack</th>:
                      <td class="tblpad colonWidthresource" *ngIf="tblupdate">
                        {{getIdData.projectResourceMapping.techStack }}</td>
                      <td class="tblpad colonWidthresource" *ngIf="!tblupdate">



                        <mat-form-field>
                          <!-- <mat-label *ngIf="techHide">{{getIdData.projectResourceMapping.techStack }}</mat-label> -->
                          <mat-select name="projecttechstack" [(ngModel)]="getIdData.projectResourceMapping.techStack"
                            #stack="ngModel" required multiple disableOptionCentering>
                            <mat-option *ngFor="let tech of techStacks" [value]="tech.technology">{{tech.technology}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="stack.invalid && stack.touched" style="color: red;">
                          <p *ngIf="stack.errors.required">Tech Stacks are Required</p>
                        </div>


                      </td>

                    </tr>
                    
                    <!-- <tr>
                      <th class="tblpad colonWidthresource">Number of Resources</th>:
                      <td class="tblpad colonWidthresource" *ngIf="tblupdate">{{getIdData.projectResourceMapping.resourceCount}}</td>
                      <td class="tblpad colonWidthresource" *ngIf="!tblupdate"><input class="form-control" name="resourcecount"
                          [(ngModel)]="getIdData.projectResourceMapping.resourceCount" #resource="ngModel" required>
                        <p *ngIf="0>getIdData.projectResourceMapping.resourceCount" style="color: red;">Negative
                          resources not allowed</p>

                        <div *ngIf="resource.invalid && resource.touched" style="color: red;">
                          <p *ngIf="resource.errors.required">Resources count are Required</p>
                        </div>
                      </td>

                    </tr> -->
                    <tr>
                      <th class="tblpad colonWidthresource">Mapped Resources</th>:
                      <td class="tblpad colonWidthresource" *ngIf="mappedMessage">Resources are not mapped yet!</td>
                      <td class="tblpad colonWidthresource" *ngIf="!mappedMessage">
                        <div *ngFor="let map of rmgresource">
                          {{map[0].firstname}} {{map[0].lastname}} ({{map[0].employeeId}})
                          <!-- <span
                            *ngIf="map.resourceType== 'Specific'">{{getNames(map.resource.employeeId)}}
                            ({{map.resource.employeeId}})</span>
                          <span *ngIf="map.resourceType== 'Generic'">{{getNames(map.resource.empId)}}
                            ({{map.resource.empId}})</span> -->
                          </div>
                      </td>
                      <!-- <td class="tblpad colonWidthresource" *ngIf="!tblupdate">
                        <mat-form-field>

                          <mat-select name="resources" [(ngModel)]="getIdData.projectResourceMapping.resources"
                            #resourceMap="ngModel" required disableOptionCentering multiple>
                            <mat-option *ngFor="let emp of empsorteddata" [value]="emp.employeeId">
                              {{emp.firstname}}
                              {{emp.lastname}} ({{emp.employeeId}})
                            </mat-option>

                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="resourceMap.invalid && resourceMap.touched" style="color: red;">
                          <p *ngIf="resourceMap.errors.required">Resources are Required</p>
                        </div>
                      </td> -->
                    </tr>


                  </table>
                </div>
              </div>
            </div>
          </div>



          <div class="float-right" *ngIf="!tblupdate">
            <button type="submit" class="btn" style="background-color: #1d62a7;color: white;"
              (click)="updateproject(updateProject.value)"
              [disabled]="updateProject.invalid || 0>valueToShow || errorToEnter || 0>getIdData.projectResourceMapping.resourceCount">Update</button>&nbsp;&nbsp;
            <button class="btn" style="background-color: #1d62a7;color: white;" (click)="cancel()">Cancel</button>
          </div>
        </form>


      </div>
    </div>




  </div>

</div>








<!-- Create project Starts -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form [formGroup]="project">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Project Creation</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="cancelSave(project)">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <mat-form-field>
                <mat-label>Select Customer</mat-label>
                <mat-select formControlName="customerChange" (selectionChange)="selected_customer($event.value)"
                  [disabled]="onShow" disableOptionCentering>
                  <mat-option *ngFor="let data of customerData" [value]="data.customerId">{{data.customerName}}
                  </mat-option>

                </mat-select>
              </mat-form-field>
              <div style="color:red"
                *ngIf="project.get('customerChange').invalid && project.get('customerChange').touched">
                <span *ngIf="project.get('customerChange').errors.required">Please select customer</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <mat-form-field>
                <mat-label>Select Contract</mat-label>
                <mat-select formControlName="contractChange" [disabled]="contractDisable"
                  (selectionChange)="getContractId($event.value)" disableOptionCentering>
                  <mat-option *ngFor="let contract of contractIdGet" [value]="contract.contractid">
                    {{contract.contractname}}
                  </mat-option>

                </mat-select>
              </mat-form-field>
              <div style="color:red"
                *ngIf="project.get('contractChange').invalid && project.get('contractChange').touched">
                <span *ngIf="project.get('contractChange').errors.required && contractIdGet!=null">Please select
                  contract</span>
                <p *ngIf="contractIdGet==null">No Contract under selected customer</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <span *ngIf="cusconeditHide"><b>
                  <p (click)="cusConEdit();project.reset()" style="cursor: pointer;"><img src="assets/pe.png"
                      width="25px" height="25px">Click Here</p>To Edit Customer and Contract
                </b>&nbsp;&nbsp;</span>
            </div>

          </div>

          <div *ngIf="!show">
            <div class="borderTo">
              <p style="text-align: center;"><b><u>Selected Customer Details</u></b></p>
              <div class="row">
                <div class="col-4">
                  <p><b>Customer ID :</b>{{customerDataToShow.customerId}}</p>
                  <p><b>Customer Name :</b>{{customerDataToShow.customerName}}</p>

                </div>
                <div class="col-4">
                  <p><b>BDM Name :</b>{{customerDataToShow.billinginfo.bdmconatctName}}</p>
                  <p><b>AM Name :</b>{{customerDataToShow.billinginfo.amconatctName}}</p>
                </div>
                <div class="col-4">
                  <p><b>Service Name :</b><span
                      *ngFor="let service of customerDataToShow.servicetype">{{service.servicetypeid}},</span></p>
                  <!-- <label><b>AM Name :</b>{{customerDataToShow.billinginfo.amconatctName}}</label> -->
                </div>

              </div>

            </div>
            <div class="borderTo">
              <p style="text-align: center;"><b><u>Selected Contract Details</u></b></p>
              <div class="row">
                <div class="col-4">
                  <p><b>Contract ID :</b>{{contractDataTo.contractid}}</p>
                  <p><b>Start Date :</b>{{contractDataTo.startdate | date:'dd-MM-yyyy'}}</p>
                  <p><b>SBU Head :</b>{{contractsbuHead[0].firstname}} {{contractsbuHead[0].lastname}}
                    ({{contractsbuHead[0].employeeId}})</p>

                </div>
                <div class="col-4">
                  <p><b>Contract Name :</b>{{contractDataTo.contractname}}</p>
                  <p><b>End Date :</b>{{contractDataTo.enddate | date:'dd-MM-yyyy'}}</p>
                </div>
                <div class="col-4">
                  <p><b>Contract Value :</b>{{contractDataTo.contractvalue| number:'1.0-0'}}</p>
                  <p><b>BU Head :</b>{{contractbuHead[0].firstname}} {{contractbuHead[0].lastname}}
                    ({{contractbuHead[0].employeeId}})</p>
                </div>

              </div>

            </div>



            <div class="row" style="padding-bottom: 10px;">
              <div class="col-md-4 col-sm-4 col-xs-12">

                <label>Name</label>
                <input class="form-control" formControlName="projectName" placeholder="Project Name">

                <div style="color:red" *ngIf="project.get('projectName').invalid && project.get('projectName').touched">
                  <span *ngIf="project.get('projectName').errors.required">Project Name is required</span>
                </div>

              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">


                <br>
                <mat-form-field>
                  <input matInput [min]="minStartDate" [max]="maxStartDate" [matDatepicker]="picker"
                    [disabled]="disableDate" formControlName="projectStartDate" placeholder="Start date"
                    (click)="picker.open()" onkeydown="return false">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <div style="color:red"
                  *ngIf="project.get('projectStartDate').invalid && project.get('projectStartDate').touched">
                  <span *ngIf="project.get('projectStartDate').errors.required">Start date is required</span>
                </div>



              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <br>
                <mat-form-field>
                  <input matInput [min]="project.value.projectStartDate" [max]="maxStartDate" [matDatepicker]="picker1"
                    [disabled]="disableDate" formControlName="projectEndDate" placeholder="End date"
                    (click)="picker1.open()" onkeydown="return false">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <div style="color:red"
                  *ngIf="project.get('projectEndDate').invalid && project.get('projectEndDate').touched">
                  <span *ngIf="project.get('projectEndDate').errors.required">End date is required</span>
                </div>



              </div>
            </div>
            <div class="row" style="padding-bottom: 10px;">
              <div class="col-md-4 col-sm-4 col-xs-12">


                <br>
                <mat-form-field>
                  <mat-label>Project Manager</mat-label>
                  <mat-select formControlName="projectManager" disableOptionCentering>
                    <mat-option *ngFor="let manager of managerdata" [value]="manager.employeeId">
                      {{manager.firstname}} {{manager.lastname}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <div style="color:red"
                  *ngIf="project.get('projectManager').invalid && project.get('projectManager').touched">
                  <span *ngIf="project.get('projectManager').errors.required">Project Manager Name is required</span>
                </div>

              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">

                <br>
                <mat-form-field>
                  <mat-label>Technical Lead</mat-label>
                  <mat-select formControlName="projectTechnicalLead" disableOptionCentering>
                    <mat-option *ngFor="let tech of empObjTech" [value]="tech.employeeId">
                      {{tech.firstname}} {{tech.lastname}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <div style="color:red"
                  *ngIf="project.get('projectTechnicalLead').invalid && project.get('projectTechnicalLead').touched">
                  <span *ngIf="project.get('projectTechnicalLead').errors.required">Project Technical Lead is
                    required</span>
                </div>

              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div *ngIf="isCustomer">
                  <br>

                  <label>Project Type</label>:{{contractDataTo.contractType}}
                </div>
                <div *ngIf="isNotCustomer">


                  <br>
                  <mat-form-field>
                    <mat-label>Project Type</mat-label>

                    <mat-select formControlName="projectType" disableOptionCentering>
                      <mat-option *ngFor="let data of projectTypedata" value="{{data.projectType}}">{{data.projectType}}
                      </mat-option>
                      <!-- <mat-option value="Enablement">Enablement</mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <div style="color:red"
                    *ngIf="project.get('projectType').invalid && project.get('projectType').touched">
                    <span *ngIf="project.get('projectType').errors.required">Please Select project type</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="padding-bottom: 10px;">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <label>Project Value</label>
                <p *ngIf="showBalance" style="font-size: 10px;">Remaining Value :&nbsp;&nbsp;<span *ngIf="greenShow"
                    style="color: green;">{{valueToShow| number:'1.0-0'}}</span><span *ngIf="redShow"
                    style="color: red;">{{valueToShow| number:'1.0-0'}}</span> </p>
                <input type="number" class="form-control" formControlName="projectValue" placeholder="Project Value">

                <div style="color:red"
                  *ngIf="project.get('projectValue').invalid && project.get('projectValue').touched">
                  <span *ngIf="project.get('projectValue').errors.required">Project Value is required</span>
                  <span *ngIf="project['controls']['projectValue'].errors.max">Project value should not exceed the
                    {{valueToShow| number:'1.0-0'}}</span>
                  <span *ngIf="project.get('projectValue').errors.min">Negative Values are not allowed</span>

                </div>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12">

                <br>
                <mat-form-field>
                  <mat-label>Service Type</mat-label>
                  <mat-select formControlName="serviceType" disableOptionCentering>
                    <mat-option *ngFor="let service of serviceTypes" [value]="service.serviceTypeName">
                      {{service.serviceTypeName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <div style="color:red" *ngIf="project.get('serviceType').invalid && project.get('serviceType').touched">
                  <span *ngIf="project.get('serviceType').errors.required">Service Type is required</span>
                </div>

              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">

                <br>
                <mat-form-field>
                  <mat-label>Billing Type</mat-label>
                  <mat-select formControlName="billingType" disableOptionCentering>
                    <mat-option *ngFor="let bill of billingTypes" [value]="bill.name">{{bill.name}}</mat-option>

                  </mat-select>
                </mat-form-field>
                <div style="color:red" *ngIf="project.get('billingType').invalid && project.get('billingType').touched">
                  <span *ngIf="project.get('billingType').errors.required">Billing Type is required</span>
                </div>
              </div>
            </div>
            <div class="row" style="padding-bottom: 10px;">
              <div class="col-md-4 col-sm-4 col-xs-12">


                <br>
                <mat-form-field>
                  <mat-label>Rate Type</mat-label>
                  <mat-select formControlName="rateType" disableOptionCentering>
                    <mat-option *ngFor="let rate of rateTypes" [value]="rate.rateType">{{rate.rateType}}</mat-option>

                  </mat-select>
                </mat-form-field>
                <div style="color:red" *ngIf="project.get('rateType').invalid && project.get('rateType').touched">
                  <span *ngIf="project.get('rateType').errors.required">Rate Type is required</span>
                </div>

              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <br>
                <mat-form-field>
                  <mat-label>Project Tech Stack</mat-label>
                  <mat-select formControlName="projectTechStack" multiple disableOptionCentering>
                    <mat-option *ngFor="let techstack of techStacks" [value]="techstack.technology">
                      {{techstack.technology}}
                    </mat-option>

                  </mat-select>
                </mat-form-field>
                <div style="color:red"
                  *ngIf="project.get('projectTechStack').invalid && project.get('projectTechStack').touched">
                  <span *ngIf="project.get('projectTechStack').errors.required">ProjectTechStack is required</span>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <br>
                <mat-form-field>
                  <mat-label>Service Category</mat-label>
                  <mat-select formControlName="serviceCategory" disableOptionCentering>
                    <mat-option *ngFor="let servicecat of serviceCategoryList" [value]="servicecat.serviceategoryName">
                      {{servicecat.serviceategoryName}}</mat-option>

                  </mat-select>
                </mat-form-field>
                <div style="color:red"
                  *ngIf="project.get('serviceCategory').invalid && project.get('serviceCategory').touched">
                  <span *ngIf="project.get('serviceCategory').errors.required">Service Category is required</span>
                </div>
              </div>
            </div>
            <div class="row" style="padding-bottom: 10px;">

              <div class="col-md-4 col-sm-4 col-xs-12">
                <br>
                <mat-form-field>
                  <mat-label>Delivery Location</mat-label>
                  <mat-select formControlName="projectDelivaryLocation" disableOptionCentering>
                    <mat-option *ngFor="let delivery of deliveryLoc" [value]="delivery.deliverylocationName">
                      {{delivery.deliverylocationName}}</mat-option>

                  </mat-select>
                </mat-form-field>
                <div style="color:red"
                  *ngIf="project.get('projectDelivaryLocation').invalid && project.get('projectDelivaryLocation').touched">
                  <span *ngIf="project.get('projectDelivaryLocation').errors.required">Project Delivary Location is
                    required</span>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">

                <br>
                <mat-form-field>
                  <mat-label>Location Type</mat-label>
                  <mat-select formControlName="locationType" disableOptionCentering>
                    <mat-option *ngFor="let location of locTypes" [value]="location.locationType">
                      {{location.locationType}}</mat-option>

                  </mat-select>
                </mat-form-field>


                <div style="color:red"
                  *ngIf="project.get('locationType').invalid && project.get('locationType').touched">
                  <span *ngIf="project.get('locationType').errors.required">Location Type is required</span>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">

                <br>
                <mat-form-field>
                  <mat-label>Tasks</mat-label>
                  <mat-select formControlName="tasks" multiple disableOptionCentering>
                    <mat-option *ngFor="let tasks of taskList" [value]="tasks.projecttask">{{tasks.projecttask}}
                    </mat-option>

                  </mat-select>
                </mat-form-field>
                <div style="color:red" *ngIf="project.get('tasks').invalid && project.get('tasks').touched">
                  <span *ngIf="project.get('tasks').errors.required">Tasks are required</span>
                </div>
              </div>
            </div>

            <!-- <div class="row"> -->

            <!-- <div class="col-4" style="padding-top: 10px;">

                <br>
                <mat-form-field>
                  <mat-label>Map Resources</mat-label>
                  <mat-select formControlName="resources" disableOptionCentering multiple>
                    <mat-option *ngFor="let emp of empsorteddata" [value]="emp.employeeId">{{emp.firstname}}
                      {{emp.lastname}} ({{emp.employeeId}})
                    </mat-option>

                  </mat-select>
                </mat-form-field>
                <div style="color:red" *ngIf="project.get('resources').invalid && project.get('resources').touched">
                  <span *ngIf="project.get('resources').errors.required">Please map resources</span>
                </div> -->

            <!-- <br>
                <mat-form-field>
                  <mat-label>Business Unit Head</mat-label>
                  <mat-select formControlName="bu" disableOptionCentering>
                    <mat-option *ngFor="let bu of buListArr" [value]="bu.buHead">{{bu.buHeadName}} ({{bu.buName}})
                    </mat-option>

                  </mat-select>
                </mat-form-field>
                <div style="color:red" *ngIf="project.get('bu').invalid && project.get('bu').touched">
                  <span *ngIf="project.get('bu').errors.required">Business Head is required</span>
                </div> -->
            <!-- </div> -->
            <!-- <div class="col-4" style="padding-top: 10px;"> -->
            <!-- <br>
                <mat-form-field>
                  <mat-label>Sub Business Unit Head</mat-label>
                  <mat-select formControlName="sbu" disableOptionCentering>
                    <mat-option *ngFor="let sbu of sbuListArr" [value]="sbu.sbuHead">{{sbu.sbuHeadName}} ({{sbu.name}})
                    </mat-option>

                  </mat-select>
                </mat-form-field>
                <div style="color:red" *ngIf="project.get('sbu').invalid && project.get('sbu').touched">
                  <span *ngIf="project.get('sbu').errors.required">Sub Business Head is required</span>
                </div> -->
            <!-- </div> -->

            <!-- </div> -->
            <div class="row">
              <div class="col-12">

                <label>Description</label>
                <textarea class="form-control" formControlName="projectDescription" rows="3"></textarea>
                <div style="color:red"
                  *ngIf="project.get('projectDescription').invalid && project.get('projectDescription').touched">
                  <span *ngIf="project.get('projectDescription').errors.required">Project Description is required</span>
                </div>

              </div>



            </div>



          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn" style="background-color: #1d62a7;color: white;"
            (click)="createProject(project.value)" data-dismiss="modal" [disabled]="project.invalid">Create &
            Submit</button>
          <button type="button" class="btn" (click)="cancelSave(project)"
            style="background-color: #1d62a7;color: white;" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- reject modal -->

<div class="modal fade" id="rejectBUModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form #rejectComment="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="rejectBUModal">Reject Reason</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="rejectComment.reset();">
            <p aria-hidden="true">&times;</p>
          </button>
        </div>
        <div class="modal-body">
          <textarea row="10" cols="50" class="form-control active" name="comments" [(ngModel)]="comments"
            #commentReason="ngModel" required>

               </textarea>
          <div *ngIf="commentReason.invalid && commentReason.touched" style="color: red;">
            <p *ngIf="commentReason.errors.required">Please enter reason to reject</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" style="background-color: #1d62a7;color: white;" data-dismiss="modal"
            (click)="rejectComment.reset();">Close</button>
          <button type="submit" class="btn" style="background-color: #1d62a7;color: white;"
            [disabled]="rejectComment.invalid" (click)="rejectBU(rejectComment.value)"
            data-dismiss="modal">Reject</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="rejectFinanceModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form #rejectComment="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="rejectFinanceModal">Reject Reason</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="rejectComment.reset();">
            <p aria-hidden="true">&times;</p>
          </button>
        </div>
        <div class="modal-body">
          <textarea row="10" cols="50" class="form-control active" name="comments" [(ngModel)]="comments"
            #commentReason="ngModel" required>

                 </textarea>
          <div *ngIf="commentReason.invalid && commentReason.touched" style="color: red;">
            <p *ngIf="commentReason.errors.required">Please enter reason to reject</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" style="background-color: #1d62a7;color: white;" data-dismiss="modal"
            (click)="rejectComment.reset();">Close</button>
          <button type="submit" class="btn" style="background-color: #1d62a7;color: white;"
            [disabled]="rejectComment.invalid" (click)="rejectFinance(rejectComment.value)"
            data-dismiss="modal">Reject</button>
        </div>
      </div>
    </form>
  </div>
</div>




<!-- Create project ends -->